DATABASE_URL="postgresql://postgres:123456@localhost:5432/blog_db"
POST=3005
ALLOWED_ORIGINS=http://localhost:5000,https://blog-tech.duckdns.org
ACCESS_TOKEN_SECRET=access_token_secret_key
ACCESS_TOKEN_SECRET_REFRESH=access_token_secret_refresh_key
NODE_ENV=develop
CLOUD_NAME=Root_Image
API_KEY=798733866273599
API_SECRET=R7Up_JIoYFynErzASYqj-AVlqSE
CLOUDINARY_URL=cloudinary://798733866273599:R7Up_JIoYFynErzASYqj-AVlqSE@deq5l7fn1